{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <h1>CartController</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
                <td>
                    <a href="{{ path('cart_remove', {'id': item.id}) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cart_checkout') }}">Checkout</a>

{% endblock %}
