{% extends 'base.html.twig' %}

{% block title %}Chez Renard ! Connexion !
{% endblock %}

{% block body %}
	<div class="container my-2">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h1 class="text-center">Veuillez-vous connecter</h1>
					</div>
					<div class="card-body">
						<form class="form-signin" method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté en tant que
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<label for="inputEmail" class="sr-only">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" autocomplete="email" required autofocus>

							<label for="inputPassword" class="sr-only">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" autocomplete="current-password" required>

							<input
							type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">
								Se connecter
							</button>
							<p class="text-center">Pas inscrit?
								<a href="{{ path('app_register') }}">Se créer un compte</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

