{% extends 'base.html.twig' %}

{% block title %}Chez Renard ! S'inscrire{% endblock %}

{% block body %}
  <div class="container my-2">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">S'inscrire</h1>
          </div>
          <div class="card-body">
            {{ form_start(registrationForm) }}
              {{ form_row(registrationForm.firstname, {
                  label: 'Prénom',
                  attr: {
                    class: 'form-control'
                  }
              }) }}
              {{ form_row(registrationForm.lastname, {
                  label: 'Nom de famille',
                  attr: {
                    class: 'form-control'
                  }
              }) }}
              {{ form_row(registrationForm.email, {
                  attr: {
                    class: 'form-control'
                  }
              }) }}
              {{ form_row(registrationForm.plainPassword, {
                  label: 'Mot de passe',
                  attr: {
                    class: 'form-control'
                  }
              }) }}
              {{ form_row(registrationForm.agreeTerms,{
                  label: 'J\'accepte les conditions d\'utilisation',
                  attr: {
                    class: 'form-check-input'
                  }
              }) }}

              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
              </div>
            {{ form_end(registrationForm) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
