{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ user.statut ? 'Administrateur' : 'Client' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}">Retour à l'accueil</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

{% endblock %}
